<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Albania</string>
	<string>Argentina</string>
	<string>Australia</string>
	<string>Austria</string>
	<string>Azerbaijan</string>
	<string>Bahrain</string>
	<string>Barbados</string>
	<string>Belarus</string>
	<string>Belgium</string>
	<string>Brazil</string>
	<string>Bulgaria</string>
	<string>Canada</string>
	<string>Chile</string>
	<string>China</string>
	<string>Croatia</string>
	<string>Czech Republic</string>
	<string>Denmark</string>
	<string>Egypt</string>
	<string>Estonia</string>
	<string>Finland</string>
	<string>France</string>
	<string>Georgia</string>
	<string>Germany</string>
	<string>Greece</string>
	<string>Holy See (Vatican City State)</string>
	<string>Hong Kong</string>
	<string>Hungary</string>
	<string>Iceland</string>
	<string>India</string>
	<string>Indonesia</string>
	<string>Ireland</string>
	<string>Israel</string>
	<string>Italy</string>
	<string>Japan</string>
	<string>Kazakhstan</string>
	<string>Kuwait</string>
	<string>Luxembourg</string>
	<string>Macao</string>
	<string>Malaysia</string>
	<string>Mexico</string>
	<string>Mongolia</string>
	<string>Myanmar</string>
	<string>Nepal</string>
	<string>Netherlands</string>
	<string>New Zealand</string>
	<string>Norway</string>
	<string>Oman</string>
	<string>Pakistan</string>
	<string>Palestine</string>
	<string>Papua New Guinea</string>
	<string>Philippines</string>
	<string>Poland</string>
	<string>Portugal</string>
	<string>Qatar</string>
	<string>Romania</string>
	<string>Russian Federation</string>
	<string>Saudi Arabia</string>
	<string>Serbia</string>
	<string>Singapore</string>
	<string>South Africa</string>
	<string>South Korea</string>
	<string>Spain</string>
	<string>Sweden</string>
	<string>Switzerland</string>
	<string>Taiwan</string>
	<string>Thailand</string>
	<string>Timor-Leste</string>
	<string>Turkey</string>
	<string>Ukraine</string>
	<string>United Arab Emirates</string>
	<string>United Kingdom</string>
	<string>United States</string>
	<string>Uruguay</string>
	<string>Uzbekistan</string>
	<string>Viet Nam</string>
	<string>Yemen</string>
</array>
</plist>
